In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("../batches/batch_0.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,14291,50000.0,1,2,2,26,0,0,0,0,...,49381.0,9999.0,8793.0,9138.0,2500.0,2000.0,324.0,1000.0,1000.0,500.0
1,26096,50000.0,2,2,1,46,-2,-1,-1,0,...,26461.0,11882.0,280.0,290.0,2720.0,26461.0,1034.0,280.0,300.0,1535.0
2,27399,180000.0,1,2,2,41,-2,-2,-2,-2,...,910.0,0.0,0.0,0.0,900.0,910.0,0.0,0.0,0.0,0.0
3,586,20000.0,2,1,2,25,0,0,0,0,...,16394.0,16723.0,18056.0,17618.0,1600.0,1300.0,600.0,1600.0,0.0,800.0
4,27867,70000.0,2,1,1,25,0,0,0,0,...,58055.0,44593.0,-1380.0,48757.0,3000.0,2213.0,1565.0,0.0,50137.0,1800.0

In [3]:
array_data = data.values

In [4]:
json_file = {"batches": array_data}
json_file

{'batches': array([[1.4291e+04, 5.0000e+04, 1.0000e+00, ..., 1.0000e+03, 1.0000e+03,
         5.0000e+02],
        [2.6096e+04, 5.0000e+04, 2.0000e+00, ..., 2.8000e+02, 3.0000e+02,
         1.5350e+03],
        [2.7399e+04, 1.8000e+05, 1.0000e+00, ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        ...,
        [1.7128e+04, 2.8000e+05, 2.0000e+00, ..., 5.2000e+03, 6.0000e+03,
         5.4000e+03],
        [4.3020e+03, 1.5000e+05, 2.0000e+00, ..., 1.2000e+03, 1.2000e+03,
         1.3000e+03],
        [1.7127e+04, 2.0000e+05, 2.0000e+00, ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00]])}

In [5]:
import csv
import json

csv_file_path = '../batches/batch_0.csv'
json_file_path = '../batches/batch.json'

data = []

with open(csv_file_path, 'r') as csv_file:
    csv_reader = csv.reader(csv_file)
    header_skipped = False

    for row in csv_reader:
        if not header_skipped:
            header_skipped = True
            continue
        
        data.append(row)

# Wrap the data in a dictionary with the "batches" key
json_data = json.dumps({"batches": data})

# Save the JSON data to a file
with open(json_file_path, 'w') as json_file:
    json_file.write(json_data)

print("CSV data has been converted and saved as JSON with the desired structure.")

CSV data has been converted and saved as JSON with the desired structure.